<IfModule mod_rewrite.c>
RewriteEngine On
# as long as we aren't requesting /admin or /api, show index.html
RewriteBase /svg_generator/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /svg_generator/index.html [L]
</IfModule>
